<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<br />
	<p>
		Splurty was built by <a href="https://github.com/mkyaw">Myo T Kyaw</a> as the first project for <strong><a target="_blank" href="http://www.thefirehoseproject.com">theFirehoseProject.</a></strong> He is an aspiring software engineer with strong background in Ruby on Rails.
	</p>
	<br />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'myo.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Myo T Kyaw</h2>
		<br />
		<p class="text-center">
			Myo is a senior studying Computer Information Systems at <a target="_blank" href="http://www.cpp.edu">Cal Poly Pomona.</a> He is an active member of <a target="_blank" href="http://www.iwdsa.org/">Interactive Web Development Student Association</a> and Vice President of <a target="_blank" href="http://www.calpolymissa.org/">Management Information Systems Student Association</a>.
		</p>
	</div>
</div>

<br class="clear"/>
<br />
<br />
<br />
<br />
