<!--<h1 class="h1static"><br />You know you need to workout WHEN...</h1>-->
<h1 class="h1static">
	<span>SPLURTY No. <%= @quote.id %></span> You know you need to work out WHEN...
</h1>
<h1 class="h1dynamic"><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>